<template>
    <div>
        <el-card class="box-card">
            <el-container>
                <el-aside width="200px">
                    <h2>应用、类别选择：</h2>
                    <el-tree :data="options1" :props="defaultProps"  accordion   highlight-current="true" @node-click="nodeClick" node-key="value"></el-tree>
                </el-aside>
                <el-main>
            <!--查找popover-->
            <div >
                <el-popover
                        placement="right-start"
                        title="条件查询"
                        width="485"
                        trigger="click"
                        v-model="visible"
                >
                    <div>
                        <el-form :model="form" ref="form" size="small" style="width: 485px;" inline>
                            <el-form-item>
                                <el-input size="small" v-model="form.name" placeholder="名称"
                                          style="width:230px;"></el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-input size="small" v-model="form.url" placeholder="url"
                                          style="width:230px;"></el-input>
                            </el-form-item>
                            <!--                                    <el-form-item>
                                                                    <el-input size="small" v-model="form.className" placeholder="类名"
                                                                              style="width:230px;"></el-input>
                                                                </el-form-item>-->
                            <el-form-item>
                                <el-input size="small" v-model="form.methodName" placeholder="API方法名"
                                          style="width:230px;"></el-input>
                            </el-form-item>
                            <!--                                    <el-form_item>
                                                                    <el-select size="small" v-model="form.restType" placeholder="请求类型"
                                                                               style="width:230px;">
                                                                        <el-option label="POST" value="post"></el-option>
                                                                        <el-option label="GET" value="get"></el-option>
                                                                    </el-select>
                                                                </el-form_item>-->
                            <el-form-item>
                                <el-input size="small" v-model="form.person" placeholder="API责任人"
                                          style="width:230px;"></el-input>
                            </el-form-item>

                        </el-form>
                        <div style="text-align: right; margin: 0">
                            <!-- 添加API的页面 -->
                            <el-button size="small" type="primary" @click="onSubmit">查询</el-button>
                            <el-button size="small" type="primary" @click="resetForm('form')">重置</el-button>
                        </div>
                    </div>
                    <el-button slot="reference" visible=!visible" size="small" type="primary">条件查询</el-button>
                </el-popover>
                <el-button  size="small" type="info" @click="onLoad" style="margin-left: 10px">重新加载</el-button>
            </div>

            <!-- 数据列表 -->
            <el-table
                    :data="testTableData"
                    stripe
                    :height="tableHeight"
            >
                <el-table-column
                        type="index"
                        width="50">
                </el-table-column>
<!--                <el-table-column
                        prop="classes"
                        label="所属类别"
                        width="120"
                        :formatter="classes">
                </el-table-column>-->
                <el-table-column
                        prop="name"
                        label="名称"
                        width="200">
                </el-table-column>
                <el-table-column
                        prop="url"
                        label="url"
                        width="300">
                </el-table-column>
                <el-table-column
                        prop="className"
                        label="类名"
                        width="180">
                </el-table-column>
                <el-table-column
                        prop="methodName"
                        label="方法名"
                        width="150">
                </el-table-column>
                <el-table-column
                        prop="restType"
                        label="请求类型"
                        width="800">
                </el-table-column>
                <el-table-column
                        prop="person"
                        label="责任人"
                        width="100">
                </el-table-column>
                <el-table-column
                        prop="describe"
                        label="描述"
                        width="200">
                </el-table-column>
                <el-table-column
                        fixed="right"
                        label="操作"
                        align="center"
                        width="140">
                    <template slot-scope="scope">
                        <el-button @click="testHandleClick(scope.row)" size="mini"
                                   type="primary">单元测试</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!-- 分页栏 -->
            <el-pagination
                    style="text-align: center"
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="tableCurrentPage"
                    :page-sizes="[5, 10, 20, 50]"
                    :page-size="tablePageSize"
                    background
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="tableTotal"
            >
            </el-pagination>
                </el-main>
            </el-container>
        </el-card>
    </div>
</template>
<script type="text/javascript" src="pages/api_ut/api_ut.js"></script>