<template>
    <div>
        <el-row>
            <el-col :span="2">
                <el-input
                        placeholder="请输入内容"
                        v-model="rowData.restType"
                        :disabled="true">
                </el-input>
            </el-col>

            <el-col :span="5">
                <el-select v-model="rowData.fixUrl" placeholder="请选择应用环境">
                    <el-option
                            v-for="item in profileData"
                            :key="item.url"
                            :label="item.url"
                            :value="item.url">
                    </el-option>
                </el-select>
            </el-col>

            <el-col :span="8">
                <el-input v-model="rowData.url" placeholder="请输入URL"></el-input>
            </el-col>
            <el-col :span="2">
                <el-button @click="clickLook">Headers</el-button>
            </el-col>
            <el-col :span="2">
                <el-button @click="cookieLook">Cookies</el-button>
            </el-col>

            <el-col :span="2">
                <el-button @click="send" type="primary">发送</el-button>
            </el-col>
        </el-row>


        <el-dialog
                title="Content-Type选择"
                :visible.sync="ContentTypeLook"
                width="350px"
        >
            <el-select v-model="headerTableData[0].value" size="small" clearable placeholder="请选择" style="width: 300px"
                       @change="ContentTypeLook = false"
            >
                <el-option
                        v-for="item in ContentTypeOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
            <h4>或 手动输入</h4>
            <el-input v-model="headerTableData[0].value" size="small" placeholder="请输入Content-Type"
                      style="width: 240px"></el-input>
            <el-button @click="ContentTypeLook = false" size="small" type="primary">确定</el-button>
            <br/>
            <br/>
        </el-dialog>

        <h2 v-if="lookButton">header设置</h2>
        <el-table
                v-if="lookButton"
                :data="headerTableData"
                @cell-click="HeaderCellClick"
                style="width: 100%">
            <el-table-column
                    label="key"
                    width="300">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.key" size="small" placeholder="请输入key"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="value"
                    width="300">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.value" size="small" placeholder="请输入value"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-button
                            @click.native.prevent="addHeaderTableButton"
                            type="text"
                            size="small">
                        添加
                    </el-button>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-button
                            @click.native.prevent="deleteHeaderRow(scope.$index, headerTableData)"
                            type="text"
                            size="small">
                        移除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <br/>
        <h2 v-if="cookieButton">cookie设置</h2>
        <el-table
                v-if="cookieButton"
                :data="cookieTableData"

                style="width: 100%">
            <el-table-column
                    label="key"
                    width="300">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.key" size="small" placeholder="请输入key"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="value"
                    width="300">
                <template slot-scope="scope">
                    <el-input v-model="scope.row.value" size="small" placeholder="请输入value"></el-input>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-button
                            @click.native.prevent="addCookieTableButton"
                            type="text"
                            size="small">
                        添加
                    </el-button>
                </template>
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="120">
                <template slot-scope="scope">
                    <el-button
                            @click.native.prevent="deleteCookieRow(scope.$index, cookieTableData)"
                            type="text"
                            size="small">
                        移除
                    </el-button>
                </template>
            </el-table-column>
        </el-table>
        <br/>

        <h2 v-if="paramLook">参数表格</h2>
        <el-table
                v-if="paramLook"
                :data="inputTableData"
                :cell-style="cellStyle"
                @cell-click="tableCellClick"
                :row-style="rowStyle"
                :row-key="row_key"
                :expand-row-keys="expandRowKeys"
        >


            <el-table-column type="expand" width="100%">
                <template slot-scope="props">
                    <el-table
                            :data="inputTableData[props.$index].subordinate"
                            size="mini"
                            stripe
                            :show-header="false"
                            :cell-style="cellStyle"
                            @cell-click="tableCellClick"
                            :row-style="rowStyle"
                            :row-key="row_key"
                            :expand-row-keys="insideExpandRowKeys"

                    >
                        <el-table-column type="expand" width="100%">
                            <template slot-scope="propsIN">
                                <el-table
                                        :data="propsIN.row.subordinate"
                                        size="mini"
                                        stripe
                                        :show-header="false"
                                        style="margin-left: 48px"
                                        @cell-click="tableCellClick"
                                        :row-style="rowStyle"
                                        @cell-mouse-leave="cellMouseLeave"
                                >

                                    <el-table-column
                                            prop="paramName"
                                            label="参数名"
                                            width="175">
                                    </el-table-column>
                                    <el-table-column
                                            prop="paramType"
                                            label="参数类型"
                                            width="175">
                                    </el-table-column>
                                    <!--            <el-table-column
                                                        prop="paramProperty"
                                                        label="参数属性"
                                                        width="150">
                                                </el-table-column>-->
                                    <el-table-column
                                            prop="paramMessage"
                                            label="参数描述"
                                            width="240">
                                    </el-table-column>
                                    <el-table-column
                                            label="输入参数值"
                                            width="220">
                                        <template slot-scope="scope">
                                            <el-input v-model="scope.row.input" size="mini"
                                                      placeholder="请输入参数内容"></el-input>
                                        </template>
                                    </el-table-column>
                                </el-table>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="paramName"
                                label="参数名"
                                width="175">
                        </el-table-column>
                        <el-table-column
                                prop="paramType"
                                label="参数类型"
                                width="175">
                        </el-table-column>
                        <!--            <el-table-column
                                            prop="paramProperty"
                                            label="参数属性"
                                            width="150">
                                    </el-table-column>-->
                        <el-table-column
                                prop="paramMessage"
                                label="参数描述"
                                width="240">
                        </el-table-column>
                        <el-table-column
                                label="输入参数值"
                                width="220">
                            <template slot-scope="scope">
                                <el-input v-model="scope.row.input" size="mini" placeholder="请输入参数内容"></el-input>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <el-table-column
                    prop="paramName"
                    label="参数名"
                    width="220">
            </el-table-column>
            <el-table-column
                    prop="paramType"
                    label="参数类型"
                    width="180">
            </el-table-column>
            <!--            <el-table-column
                                prop="paramProperty"
                                label="参数属性"
                                width="150">
                        </el-table-column>-->
            <el-table-column
                    prop="paramMessage"
                    label="参数描述"
                    width="260">
            </el-table-column>
            <el-table-column
                    label="输入参数值"
                    width="250">
                <template slot-scope="scope">
                    <!--                            两个参数之间用&nbsp;,&nbsp;隔开，例：<br/>
                                                'abc','bcd','cde'-->
                    <el-input v-model="scope.row.input" placeholder="请输入参数内容"></el-input>
                </template>
            </el-table-column>
        </el-table>

        <!--Array(Object)弹框-->
        <el-dialog :visible.sync="arrayObjectDialog" width="1200px" :close-on-click-modal="false" >
            <el-container>
                <el-aside width="500px">
                    <el-card class="box-card">
                        <h3>数据结构：</h3>
                        <pre>{{dialogTip}}</pre>
                    </el-card>
                </el-aside>
                <el-main>
                    <el-card class="box-card">
                    <h3>请输入json格式对象字符串：</h3>
                   <el-input
                        type="textarea"
                        :autosize="{ minRows: 20}"
                        placeholder="请输入json格式对象字符串"
                        v-model="arrayObjectDialogInput">
                    </el-input>
                        <span style="float: right;margin-top: 20px;margin-bottom: 20px" class="dialog-footer">
    <el-button @click="arrayObjectDialog = false">取 消</el-button>
    <el-button type="primary" @click="arrayObjectDialogSubmit">确 定</el-button>
  </span>
                    </el-card>
                </el-main>
            </el-container>


        </el-dialog>

        <el-card class="box-card">
            <h2>返回结果 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<el-button type="success" size="small" plain @click="toJson">转换json
            </el-button>
            </h2>
            <div>
                <pre>{{message}}</pre>
            </div>
        </el-card>
        </el-tab-pane>
    </div>
    <style>
        .box-card {
            width: 480px;
        }
    </style>
</template>
<script type="text/javascript" src="pages/api_ut/api_test.js"></script>