<template>
    <div>
        <el-collapse :value="defaultOpen">
            <el-collapse-item :name="1">
                <template slot="title">
                    <i class="el-icon-zoom-in" style="font-size: 20px"></i>&nbsp;&nbsp;<h3>查询或新增</h3>
                </template>
                <el-form ref="form1" :model="form1" label-width="80px" style="margin-top: 15px">
                    <el-input placeholder="应用名称" size="mini" v-model="form1.appName" style="width: 150px">
                    </el-input>
                    <span style="margin-left: 36px">
                <el-input placeholder="应用描述" size="mini" v-model="form1.appDesc" style="width: 159px;">
                </el-input>
                </span>
                    <span style="margin-left: 36px">
                <el-input placeholder="创建人" size="mini" v-model="form1.appLeader" style="width: 159px;">
                </el-input>
                </span>
                    <span style="margin-left: 36px">
                <template>
                 <span class="block">
                     <el-date-picker
                             size="mini"
                             v-model="value1"
                             type="date"
                             placeholder="选择日期">
                     </el-date-picker>
                 </span>
                </template>
                </span>
                    <span style="float: right">
                    <el-button type="primary" size="mini" @click="findApp">查询</el-button>
                    <el-button type="primary" size="mini" @click="insertApp">新增应用</el-button>
                    </span>
                </el-form>
            </el-collapse-item>
        </el-collapse>
        <el-table
                :data="tableData"
                stripe
                style="width: 100%"
                style="font-size: 20px">
            <el-table-column type="expand">
                <template slot-scope="scope">
                    <el-table
                            :data="scope.row.profiles"
                            style="margin: auto"
                            :show-header="false">
                        <el-table-column
                                label="profile"
                                prop="profile"
                                width="180">
                        </el-table-column>
                        <el-table-column
                                label="url"
                                prop="url"
                                width="550">
                        </el-table-column>
                        <el-table-column
                                label=""
                                width="100">
                            <template slot-scope="props">
                                <el-button type="text" size="mini" icon="el-icon-delete" @click.native.prevent="deleteProfile(scope.row.id,props.$index)"></el-button>
                                <el-button type="text" size="mini" icon="el-icon-plus" @click.native.prevent="insertProfile(scope.row.id)"></el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </template>
            </el-table-column>
            <el-table-column
                    prop="appId"
                    label="ID"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="appName"
                    label="应用名称"
                    width="180">
            </el-table-column>
            <el-table-column
                    prop="appDesc"
                    label="应用描述">
            </el-table-column>
            <el-table-column
                    prop="appLeader"
                    label="应用负责人">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="200">
                <template slot-scope="scope">
                    <el-button  type="text" size="mini" @click="updateApp(scope.row)">编辑</el-button>
                    <el-button  type="text" size="mini" @click="deleteApp(scope.row)">删除</el-button>
                    <el-button  type="text" size="mini" @click.native.prevent="insertProfile(scope.row.id)>新增应用">添加环境</el-button>
                </template>
            </el-table-column>
        </el-table>
        <template>
            <div class="block">
                <span class="demonstration"/>
                <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="currentPage"
                        :page-size="size"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="totals">
                </el-pagination>
            </div>
        </template>
    </div>
</template>
<script type="text/javascript" src="pages/app/app.js"></script>