<template>
    <el-card class="box-card">
        <el-form :inline="true" :model="userQuery" class="demo-form-inline">
            <el-form-item label="用户名">
                <el-input v-model="userQuery.username" placeholder="请输入用户名"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="querySubmit">查询</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="queryRestSubmit">重置</el-button>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="addUserClick">添加用户</el-button>
            </el-form-item>
        </el-form>
        <el-table
                style="width: 851px"
                :data="userData"
                border
                stripe
                :height="tableHeight"
                highlight-current-row>
            <el-table-column
                    align="center"
                    type="index"
                    width="50">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="用户名"
                    width="320">
            </el-table-column>
            <el-table-column
                    prop="userRole"
                    label="用户角色"
                    width="320">
            </el-table-column>
            <el-table-column
                    label="操作"
                    width="160">
                <template slot-scope="scope">
                    <el-button @click="updateClick(scope.row)" type="primary" size="small">编辑</el-button>
                    <el-button @click="deleteClick(scope.row)" type="danger" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination
                style="margin-left: 150px"
                @size-change="handleSizeChange"
                @current-change="handleCurrentChange"
                :current-page="tableCurrentPage"
                :page-sizes="[5, 10, 20, 50]"
                :page-size="tablePageSize"
                background
                layout="total, sizes, prev, pager, next, jumper"
                :total="tableTotal"
        >
        </el-pagination>
        <el-dialog title="添加用户" :visible.sync="addUserDialog" width="500px" @close="closeClearDialog">
            <el-form :model="userForm" ref="userForm" status-icon label-width="80px" validate-on-rule-change>
                <el-form-item label="用户名" prop="username" :rules="[
      { required: true, message: '请输入用户名称' },
            { min: 6, max: 18, message: '长度在 6 到 18 个字符'}

    ]" style="width: 90%">
                    <el-input v-model="userForm.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password" :rules="[
      { required: true, message: '请输入密码'},
            { min: 6, max: 18, message: '长度在 6 到 18 个字符' }

    ]" style="width: 90%">
                    <el-input v-model="userForm.password"></el-input>
                </el-form-item>
               <el-form-item label="用户角色" prop="userRole" :rules="[{ required: true, message: '请选择用户角色', trigger: 'change' }]" >
                    <el-select v-model="userForm.userRole" clearable placeholder="请选择" style="width: 90%">
                        <el-option
                                v-for="item in roleOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="addUserDialog = false">取 消</el-button>
                <el-button type="primary" @click="addUserDialogSubmit('userForm')">立即添加</el-button>
            </div>
        </el-dialog>

        <el-dialog title="修改用户" :visible.sync="updateUserDialog" width="500px" @close="closeClearDialog">
            <el-form :model="userForm" ref="userForm" status-icon label-width="80px" validate-on-rule-change>
                <el-form-item label="用户名" prop="username" :rules="[
      { required: true, message: '请输入用户名称' },
            { min: 6, max: 18, message: '长度在 6 到 18 个字符'}

    ]" style="width: 90%">
                    <el-input v-model="userForm.username"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="password" :rules="[
      { required: true, message: '请输入密码'},
            { min: 6, max: 18, message: '长度在 6 到 18 个字符' }

    ]" style="width: 90%">
                    <el-input v-model="userForm.password"></el-input>
                </el-form-item>
                <el-form-item label="用户角色" prop="userRole" :rules="[{ required: true, message: '请选择用户角色', trigger: 'change' }]" >
                    <el-select v-model="userForm.userRole" clearable placeholder="请选择" style="width: 90%" >
                        <el-option
                                v-for="item in roleOptions"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="updateUserDialog = false">取 消</el-button>
                <el-button type="primary" @click="updateUserDialogSubmit('userForm')">立即修改</el-button>
            </div>
        </el-dialog>
    </el-card>
</template>
<script type="text/javascript" src="pages/user/user.js"></script>