html,body{
    height:100%;margin: 0px;
}
#app {
    width: 100%;
    height: 100%;
    font:12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.main{
    height: 100%;
}
.main>.main-container{
    height: 100%;
}
.main-aside{
    overflow: visible;
    height: 100%;
    background:#090723;
    transition: width .5s;
    -moz-transition: width .5s;	/* Firefox 4 */
    -webkit-transition: width .5s;	/* Safari 和 Chrome */
    -o-transition: width .5s;	/* Opera */
}
.el-menu{
    height: 100%;
    border-right: none;
}

.el-main{
    padding:10px;
}
.close-menu{
    color: white;
    bottom: 0px;
    cursor: pointer;
    left: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.main-head{
    margin-bottom:5px;
    padding:0px;
    width: 100%;
    height: 40px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.tag-nav-wrapper{
    height: 40px;
    background: #FFFFFF;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.tag-nav-body{
    display: inline-flex;
    height: 100%;
    padding-left: 0;
    margin: 0;
    float: left;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}
.tag-nav{
    display: inline-block;
    height: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: color .3s ease-in-out;
    font-size: 14px;
    color: #444;
    text-align: center;
}
.tag-nav:hover{
    color:#409EFF;
    background: #fafafa;
}
.tag-nav-active{
    font-weight: 700;
    color:#409EFF;
    background:none!important;
}
.tag-nav-bar{
    height: 2px;
    box-sizing: border-box;
    background-color: #409EFF;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}
.main-content{
    padding:10px;
    background: white;
    height:calc(100vh - 50px);
    position: relative;
}
.el-input--small .el-input__inner{
    height: 25px;
    line-height: 25px;
}
.el-input--small .el-input__icon{
    line-height: 22px;
}
.el-input-number--small{
    line-height: 22px;
}