html,body{
    height:100%;margin: 0px;
}
#app {
    width: 100%;
    height: 100%;
    font:12px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif
}
.main{
    height: 100%;
}
.main section{
    height: 100%;
}
.main aside{
    overflow: visible;
    height: 100%;
}
.el-menu{
    height: 100%;
    border-right: none;
}
.el-main{
    padding:10px;
}
.close-menu{
    background: rgb(56, 62, 75);
    color: white;
    bottom: 0px;
    cursor: pointer;
    left: 50%;
    text-align: center;
    height: 30px;
    line-height: 30px;
}
.main-head{
    margin-bottom:5px;
    padding:0px 5px;
    width: 100%;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
}
.tag-nav-wrapper{
    height: 40px;
    background: #FFFFFF;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.tag-nav-body{
    display: table;
    height: 100%;
    padding-left: 0;
    margin: 0;
    float: left;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out,-webkit-transform .5s ease-in-out;
}
.tag-nav{
    display: inline-block;
    height: 40px;
    padding: 10px 40px;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    transition: color .3s ease-in-out;
    font-size: 14px;
    color: #007465;
    text-align: center;
}
.tag-nav-bar{
    height: 2px;
    box-sizing: border-box;
    background-color: #007465;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}
.main-content{
    padding:10px;
    background: white;
    height:calc(100% - 40px);
    position: relative;
}