<title>演示-展示界面</title>
<template>
    <div style="height: 100%;">
        <div>
            <el-form size="mini" label-width="80px" inline>
                <el-form-item label="姓名" label-width="60px">
                    <el-input></el-input>
                </el-form-item>
                <el-form-item label="日期">
                    <el-input></el-input>
                </el-form-item>
                <el-form-item label="活动名称">
                    <el-input></el-input>
                </el-form-item>
            </el-form>
            <div style="padding-left:20px;">
                <el-button-group>
                    <el-button size="mini" type="primary" icon="el-icon-edit" @click="create" >查询</el-button>
                    <el-button size="mini" type="primary" icon="el-icon-edit" @click="create" >新增</el-button>
                    <el-button size="mini" type="danger" icon="el-icon-delete" @click="deleteBatch">删除</el-button>
                </el-button-group>
                <!--<span style="float: right; padding: 3px 0">-->
                <!--<el-input placeholder="搜索" size="mini" suffix-icon="el-icon-search" >-->
                <!--</el-input>-->
                <!--</span>-->
            </div>
            <el-divider style="margin:12px 0px;" ></el-divider>
        </div>
        <div style="height: calc(100% - 150px)">
            <el-table  size="mini" ref="table" :data="tableData" stripe @selection-change="selectChagne"
                       highlight-current-row height="100%" >
                <el-table-column type="index" width="50"></el-table-column>
                <el-table-column type="selection" width="55"></el-table-column>
                <el-table-column property="date"  label="日期" min-width="120">
                </el-table-column>
                <el-table-column property="name" label="姓名" min-width="120">
                </el-table-column>
                <el-table-column property="address" label="地址">
                </el-table-column>
                <el-table-column label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button-group>
                            <el-button size="mini" type="primary" icon="el-icon-edit" @click="edit(scope.row)"></el-button>
                            <el-button size="mini" type="danger" icon="el-icon-delete" @click="del(scope.row)" ></el-button>
                        </el-button-group>
                    </template>
                </el-table-column>
            </el-table>
            <el-pagination background layout="sizes, prev, pager, next, total" :total="1000" style="text-align: right;"></el-pagination>
        </div>
        <el-dialog title="删除提示" :visible.sync="deleteModal"
                    width="30%" >
                <h2>是否删除该记录！</h2>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="deleteModal = false" >取 消</el-button>
                    <el-button ref="deleteBtn" type="primary" @click="confirmDelete">确 定</el-button>
                </span>
        </el-dialog>
    </div>
</template>
<script type="text/javascript" src="pages/template/template.js"></script>